.productForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.btn-input input {
    font-size: 1.5rem;
    width: 50%;
}