.adContainer {
    border: 4px solid orange;
    padding: 7rem 1rem 1rem;
    display: flex;
    justify-content: center;
}

.adContent {
    display: flex;
    flex-direction: column;
    padding: 7%;
}

.adHeader {
    font-size: 3.5rem;
    font-family: 'gilroy-extrabolduploaded_file';
    margin: 0;
}

.adText {
    font-size: 1.3rem;
    font-family: 'latobold';
    width: 80%;
    margin: 4% 0;
    padding: 0;
}

.adImg {
    position: relative;
    height: 100%;
    width: 100%;
}

.img {
    position: absolute;
    width: 360px;
    top: 12%;
}
