.colesplus {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1rem 0 1rem;
  border-top: 1px solid #5F5E5C;
  border-bottom: 0.01rem solid #5F5E5C;
  height: 5rem;
}

.colesplus span {
  color: white;
  font-family: 'latoregular';
  font-size: 0.8rem;
  text-align: center;
}

.colesplus span:first-child {
  font-family: 'latobold';
}

.colesplus span:last-child {
  font-family: 'gilroy-bolduploaded_file';
  font-size: 1.5rem;
}

.colesplus-active {
  background-color: white;
}

.colesplus-active span {
  color: #5F5E5C;
}